body{
  font-size: 16px;
  background-color: #efefef;
  font-family: 'Arvo';
}

#main{
  padding: 15px;
  padding-left:15px;
  padding-right: 15px;
  background-color: #ffffff;
  border-top: 10px solid #ffaa00;
  position: absolute;
  left: 150px;
  top: 150px;
  box-shadow: 4px 4px 0px #bbbbbb ;
  width: 650px;
}

h1{
  font-family: 'Arvo';
  font-weight: 700;
  text-align: center;
}